In [45]:
%reset -f
import pandas as pd
import numpy as np

In [46]:
salary = pd.read_csv("../data/ds_salaries.csv")
country_code = pd.read_csv("../data/country_code.csv")

country_code = country_code[["name", "alpha-2"]]

In [47]:
# change "AU" to "Australia" and etc, so that the final csv can be used with vega lite
salary["employee_residence"] = salary["employee_residence"].replace(country_code["alpha-2"].tolist(), country_code["name"].tolist())
salary["company_location"] = salary["company_location"].replace(country_code["alpha-2"].tolist(), country_code["name"].tolist())

In [48]:
country_mean_salary = salary.groupby(by=["employee_residence"]).mean()
country_mean_salary = country_mean_salary["salary_in_usd"].round(0).astype(int)

/var/folders/nk/pq_9ypcs6_x5jdx99mrtszc80000gn/T/ipykernel_77034/4188345552.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  country_mean_salary = salary.groupby(by=["employee_residence"]).mean()

In [56]:
all_country_mean = country_code.join(country_mean_salary, on="name", how="left")
all_country_mean = all_country_mean.drop(columns=["alpha-2"])
all_country_mean["salary_in_usd"] = all_country_mean["salary_in_usd"].replace(np.nan, 0)
all_country_mean["salary_in_usd"] = all_country_mean["salary_in_usd"].astype(int)

In [57]:
all_country_mean.to_csv("../data/country_mean_salary.csv")